.box_tool {
    height: 30px;
    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.button {
    height: 100%;
    padding: 5px 10px;
    border: 2px solid #2B4141;

    background-color: #2B4141;
    font: 700 18px/120% Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #C8C2AE;

    text-align: center;
}

.button:hover {
    background-color: #C8C2AE;
    color: #2B4141;
}

.search {
    width: 250px;
    height: 30px;

    font: 700 18px/120% Arial, "Helvetica Neue", Helvetica, sans-serif;
    border-bottom: 3px solid #2B4141;
}

.active a {
    color: #2B4141;
}

[class^="cell_"] {
    border: 2px solid #2B4141;
    text-align: center;
}

.cell_name {
    width: 35%;
}

.cell_age {
    width: 5%;
}

.cell_imt {
    width: 10%;
}

.cell_spo {
    width: 5%;
}

.cell_date {
    width: 20%;
}

.cell_res {
    width: 20%;
}

.cell_button {
    width: 15%;

    font: 700 18px/120% Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #C8C2AE;

    background-color: #2B4141;
}

.page_next {
    display: flex;

    width: 210px;
    justify-content: space-between;
}

.page_next p {
    padding: 5px 10px;
    border: 2px solid #2B4141;

    background-color: #2B4141;
    font: 700 18px/120% Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #C8C2AE;

    text-align: center;
}

.add_form {
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    max-width: 1335px;
    height: 50%;
}

.input_box {
    height: 250px;
    max-width: 1325px;

    color: #FFF;
    background-color: #2B4141;

    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.input_box input {
    max-width: 250px;

    color: #2B4141;
    background-color: #C8C2AE;
}

.input_box label {
    width: 300px;
    height: 50px;
    padding: 5px 10px;

    border-bottom: 1px solid #C8C2AE;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_box {
    height: 40px;

    display: flex;
    justify-content: end;
}

.button_box button {
    border-color: #000;
}

.name_input {
    width: 10%;
}