body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

h2 {
    color: #d70c0c;
}

main {
    margin: 20px;
}

p {
    margin: 10px 0;
}

button {
    padding: 10px;
    margin: 5px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

form {
    margin-top: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.change-item {
    margin-top: 10px;
}

.spo2 {
    font-weight: bold;
    color: #007BFF;
}

.result {
    font-weight: bold;
    color: #28a745;
}

.client-details-container {
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
}

.client-details-table {
    width: 100%;
    max-width: 1200px; /* Set a max-width for better readability */
    margin: 0 auto; /* Center the table on the page */
    border-collapse: collapse;
    margin-top: 20px;
}

.client-details-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.client-details-table td:first-child {
    font-weight: bold;
    width: 30%; /* Set a fixed width for the first column */
}