Django
django-simple-history
Faker
Jinja2
tox
urllib3
virtualenv
python-decouple
python-json-logger
requests
setuptools
coverage
whitenoise
djangorestframework
pandas
django-taggit
markdown
psycopg2
xlrd
Pillow
easy-thumbnails
django-ckeditor
django-unfold
django-axes