{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <h1>Reset your password</h1>
    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <p>Пароль не должен быть слишком похож на другую вашу личную информацию.
            Ваш пароль должен содержать как минимум 10 символов.
            Пароль не должен быть слишком простым и распространенным.
            Пароль не может состоять только из цифр.
            Пароль не должен быть слишком похож на другую вашу личную информацию.</p>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"/></p>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>
    {% endif %}
{% endblock %}