{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/account_styles.css' %}">
{% endblock %}
{% load thumbnail %}

{% block title %}Профиль{% endblock %}

{% block content %}
    <div class="profile-container">
        <h1 class="profile-header">Ваш профиль</h1>
        <a href="{% url 'password_change' %}" class="change-password-link"><i class="fas fa-home"></i> Сменить пароль
        </a>
        <p>Вы можете внести изменения в ваш профиль:</p>
        <form method="post" enctype="multipart/form-data" class="profile-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ user_form.first_name.id_for_label }}">Имя:</label>
                {{ user_form.first_name }}
            </div>
            <div class="form-group">
                <label for="{{ user_form.last_name.id_for_label }}">Фамилия:</label>
                {{ user_form.last_name }}
            </div>
            <div class="form-group">
                <label for="{{ user_form.email.id_for_label }}">Адрес электронной почты:</label>
                {{ user_form.email }}
            </div>
            <div class="form-group">
                <label for="{{ profile_form.date_of_birth.id_for_label }}">Дата рождения:</label>
                {{ profile_form.date_of_birth }}
            </div>

            {% if request.user.profile.photo %}
                {% thumbnail request.user.profile.photo "300x300" crop="smart" as im %}
                <img src="{{ im.url }}" alt="Your Avatar" class="profile-avatar">
            {% else %}
                <p>No avatar uploaded yet.</p>
            {% endif %}
            <div class="form-group">
                <label for="id_photo">Изменить аватар:</label>
                <input type="file" name="photo" id="id_photo">
            </div>

            <input type="submit" value="Save changes">
        </form>
    </div>
{% endblock %}