{% extends "base.html" %}

{% load thumbnail %}

{% block title %}Edit your account{% endblock %}

{% block content %}
  <h1>Edit your account</h1>
<a href="{% url 'password_change' %}"><i class="fas fa-home"></i> Сменить пароль </a>
  <p>You can edit your account using the following form:</p>
  <form method="post" enctype="multipart/form-data">
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
    {% csrf_token %}

    <!-- Проверяем, есть ли у пользователя аватарка -->
    {% if request.user.profile.photo %}
      <!-- Создаем уменьшенную версию изображения с обрезанием "smart" -->
      {% thumbnail request.user.profile.photo "300x300" crop="smart" as im %}
      <!-- Отображаем уменьшенную версию изображения -->
      <img src="{{ im.url }}" alt="Your Avatar">
    {% else %}
      <p>No avatar uploaded yet.</p>
    {% endif %}

    <p><input type="submit" value="Save changes"></p>
  </form>
{% endblock %}
