html {
    font-size: 16px; /* базовый размер шрифта */
}

body {
    position: relative;
    overflow: hidden;

    background-color: #046C7A1A;
    color: #2a92c0;
}

.mrs h1 {
    color: #2a92c0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-items: center;
    justify-content: center;
    flex-grow: initial;
    text-align: center;
    /*padding: 35px;
    font-size: 2rem; /* 32px, если базовый размер шрифта 16px */

}

.main h1 {
    color: #2a92c0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-items: center;
    justify-content: center;
    flex-grow: initial;

}

.main {
    height: 91%;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contrast {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 420px;
    padding: 40px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #2a92c0; /* Рамка вокруг элемента */
}

.input_box {
    width: 360px;
    height: 36px;

    padding: 8px 12px;

    background-color: #FFFFFF99;

    border: 1px solid #C2C5C8;
    border-radius: 6px;

    display: flex;
}

.input_margin_bottom {
    margin-bottom: 28px;
}

.input_box input {
    width: 304px;

    padding: 0 8px;

    border: none;
    background: transparent;
    outline: none;
}

.input_box input:-webkit-autofill {
    transition: all 5000s ease-in-out 0s;
}

.input_box input::placeholder {
    font: italic 400 14px/19.6px 'Inter', sans-serif;
    color: #9BA3AC;
}

.icon_box {
    width: 16px;
    height: 16px;
}

.icon_box_gray {
    width: 16px;
    height: 16px;

    color: #6F7881;
}

.icon_box_gray a {
    color: #6F7881;
}

.checkbox {
    width: 360px;
    height: 24px;

    margin: 22px 0;

    display: flex;
    justify-content: space-between;
}

.checkbox .group {
    display: flex;

}

.checkbox_custom + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #C2C5C8;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}


.checkbox a {
    font: 400 14px/24px "Roboto", sans-serif;
    color: #2a92c0;
}

.form button {
    width: 100%;
    height: 45px;

    padding: 8px 27px;
    border-radius: 4px;

    font: 400 16px/23.68px Arial, 'Inter', sans-serif;
    text-align: center;

    background-color: #2a92c0;
    color: #FFF;
}

.form button:hover {
    background-color: #FFF;
    color: #2a92c0;
    border: 1px solid #2a92c0;
}

.error {
    font: 400 14px/19.6px 'Inter', sans-serif;
    text-align: center;
    color: #ff0000;
}

.footer {
    height: 8%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer p {
    width: 300px;
    height: 40px;

    font: 400 12px/22px "Roboto", sans-serif;
    color: #171C2673;
    text-align: center;
}

/* CSS часов */

.clock {
    border: 1px solid #2a92c0;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 100px;
    right: calc(50% - 40px);
}

.hour {
    height: 24px;
    width: 1px;
    background: #2a92c0;
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 1px);
    transform-origin: bottom;
    transform: rotate(0deg);
}

.minute {
    height: 40px;
    width: 1px;
    background: #2a92c0;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 1px);
    transform-origin: bottom;
    transform: rotate(0deg);
}