.wrapper {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrapp {
    max-width: 1440px;
    height: 100%;
    margin: auto 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: #FFF;
}

a:hover {
    border-bottom: 1px solid #FFF;
}

/* --- header --- */
.header {
    height: 60px;

    background-color: #2B4141;
    color: #FFF;
}

.header h1 {
    font: 700 27px/120% Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header h2 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.header .menu {
    height: 20px;
    display: flex;
    gap: 20px;
}

/* --- footer --- */
.footer {
    height: 30px;

    background-color: #2B4141;
}

.footer p {
    color: #FFF;
}

/* --- main --- */
.main {
    height: 100%;
    padding: 20px 0;

    background-color: #C8C2AE;
    color: #2B4141;
}

.container {
    max-width: 1440px;
    min-height: 100%;
    margin: 0 100px;
}

.container h3 {
    width: 100%;
    text-align: center;

    font: 700 27px/120% Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.list {
    width: 100%;
}

.list .list_item {
    width: 100%;

    padding: 8px 20px;
    margin: 5px 0;

    font: 700 22px/120% 'Times New Roman', Times, serif;

    border: 1px solid #2B4141;
    color: #2B4141;
    border-radius: 25px;
}

.list .list_item:hover {
    background-color: #2B4141;
    color: #FFF;
}

/* messages css*/

ul.messages {
    margin: 10px 100px; /* Верхний и нижний отступ */
    padding: 0;
    list-style-type: none;
}

ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin: 10px 0; /* Верхний и нижний отступ */
    padding: 14px 20px;
    list-style: none;
    color: #fff;
}

ul.messages li.success { background: #81ce81; }
ul.messages li.success a { color: #0ac33e; }

ul.messages li.error { background: #a30029; color: #e9828e; }
ul.messages li.error a { color: #e9828e; }

ul.messages li.info { background: #7da7e3; color: #696b4e; }
ul.messages li.info a { color: #1586de; }

ul.messages li.warning { background: #de9404; }
ul.messages li.warning a { color: #f49000; }

ul.messages li a.close {
    margin: 0;
    float: right;
    opacity: 1;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}

.login-form {
    float: left;
}