uvicorn[standard]
fastapi
sqlalchemy
asyncpg
python-dotenv
alembic
argon2-cffi
pycryptodome
PyJWT
pydantic[email]
pandas
matplotlib
scikit-learn
#install torch manualy for cpu only
#torch --index-url https://download.pytorch.org/whl/cpu
