{% load static %}


<div class="appeal">
    <h4>Добавить обращение</h4>
    <input type="email" unicorn:model="email" placeholder="Введите ваш email" class="appeal-input">
    <textarea unicorn:model="message" placeholder="Введите текст здесь" class="appeal-textarea"></textarea>
    <button unicorn:click="add_comment" class="appeal-button">Отправить</button>

    <h4>Открытые обращения</h4>
    <ul class="appeal-list">
        {% for ticket in open_tickets %}
            <li class="appeal-item">
                {{ ticket.created_at }} - {{ ticket.message }}
                {% if ticket.admin_response %}
                    <br><strong>Ответ администратора:</strong> {{ ticket.admin_response }}
                {% endif %}
            </li>
            {% empty %}
            <li class="appeal-item">Нет открытых обращений.</li>
        {% endfor %}
    </ul>
</div>
