{% load static %}
{% load thumbnail %}
{% load unicorn %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon/favicon-32x32.png' %}">
        {% unicorn_scripts %}

    {% block style %}{% endblock %}
</head>
<body>
{% csrf_token %}
<div class="wrapper">
    <header class="header">
        <div class="wrapp">
            <h1><a href="{% url 'web_handler:home' %}">MRS <i class="fa-solid fa-microscope"></i></a></h1>
            <h2>{% block header %}{% endblock %}</h2>
            <nav class="menu">
                <a href="{% url 'web_handler:home' %}" title="Перейти на главную"><i class="fas fa-home"></i> Главная страница</a>
                <a href="{% url 'clients:client_list' %}" title="Показать список пациентов"><i class="fas fa-list"></i> Все записи</a>
                <a href="{% url 'web_handler:contacts' %}" title="Страница контактов"><i class="fas fa-address-book"></i> Контакты</a>
                <a href="{% url 'blog:post_list' %}" title="Перейти в блог"><i class="fas fa-chart-bar"></i> Статьи и обновления</a>
                <!-- Объединяем аватар и надпись в один контейнер -->
                <div class="avatar-container">
                    <a href="{% url 'account_edit' %}" title="Ваш профиль" class="account-link">
                        {% if request.user.profile.photo %}
                            {% thumbnail request.user.profile.photo "48x48" crop="smart" as im %}
                            <img src="{{ im.url }}" alt="Your Avatar" class="avatar">
                        {% else %}
                            <img src="{% static 'img/default_avatar.png' %}" alt="Default Avatar" class="avatar">
                        {% endif %}
                        <span class="account-label">Профиль</span> <!-- Добавляем подпись под аватаром -->
                    </a>
                </div>

                <form action="{% url 'logout' %}" method="post" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="menu-button" title="Выйти из аккаунта"><i class="fas fa-sign-out-alt"></i> Выход</button>
                </form>
            </nav>
        </div>
    </header>

    {% if messages %}
        <ul class="messages">
            {% for message in messages|slice:"3:" %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <main class="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="footer">
        <div class="wrapp">
            <p>&copy; {% now "Y" %} - {% now "H:i" %} МРС</p>
            <p>V0.1</p>
        </div>
    </footer>
</div>
</body>
<script src="{% static 'django_unicorn/js/unicorn.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
<script>
    const csrftoken = Cookies.get('csrftoken');
    document.addEventListener('DOMContentLoaded', (event) => {
        {% block domready %}{% endblock %}
    });

    document.addEventListener('DOMContentLoaded', function () {
        var closeButtons = document.querySelectorAll('.messages li a.close');
        closeButtons.forEach(function (button) {
            button.addEventListener('click', function (event) {
                event.preventDefault();
                var notification = this.parentNode;
                notification.parentNode.removeChild(notification);
            });
        });
    });
</script>

</html>
