{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon/favicon-32x32.png' %}">
</head>
<body>
<div class="wrapper">
    <header class="header">
        <div class="wrapp">
            <h1>YOUR SITE NAME</h1>
            <h2>{% block header %}{% endblock %}</h2>
            <nav class="menu">
                <a href="{% url 'home' %}">
                    <i class="fas fa-home"></i> На главную
                </a>
                <a href="{% url 'client_list' %}">
                    <i class="fas fa-list"></i> Все записи
                </a>
                <a href="{% url 'contacts' %}">
                    <i class="fas fa-address-book"></i> Контакты
                </a>
                <a href="{% url 'dashboard' %}">
                    <i class="fas fa-chart-bar"></i> Обновления
                </a>
                <a href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i> Выход
                </a>
                {{ user.username }}
            </nav>
        </div>
    </header>

    <main class="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="footer">
        <div class="wrapp">
            <p>&copy; 2023 МРС </p>
            <p>V0.0.1</p>
        </div>
    </footer>
</div>
</body>
</html>