{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <h1 class="mt-4">Главная страница</h1>

        <h2>Записи, без результатов</h2>
        <ul>
            {% for patient in no_results_patients %}
            <li><a href="{% url 'client_detail' token=patient.token %}">{{ patient.last_name }} {{ patient.first_name }} {{ patient.patronymic }}</a></li>
            {% endfor %}
        </ul>

        {% if more_than_five %}
        <p>Больше случаев без исхода <a href="{% url 'client_list' %}">Показать весь список</a></p>
        {% endif %}
    </main>
{% endblock %}


