{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block header %}Главная страница{% endblock %}

{% block content %}
<h3>Записи, без результатов</h3>
<ul class="list">
    {% for client in no_results_clients %}
    <li>
        <a href="{% url 'clients:client_detail' id=client.personal_info.id %}">
            <div class="list_item">
                <i class="fa fa-user"></i>
                {{ client.personal_info }}
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

{% if more_than_five %}
<p>Больше случаев без исхода <a href="{% url 'clients:client_list' %}?sort_by=date_added&order=desc&result_0_1=1">Показать весь список</a></p>
{% endif %}

<hr>

<h3>Отмеченные записи</h3>
<ul class="list">
    {% for noted in noted_clients %}
    <li>
        <a href="{% url 'clients:client_detail' id=noted.personal_info.id %}">
            <div class="list_item">
                <i class="fa fa-star"></i>
                {{ noted.personal_info }}
            </div>
        </a>
    </li>
    {% endfor %}
</ul>

{% if noted_clients_more %}
<p>Все ваши отмеченные записи <a href="{% url 'clients:client_list' %}?sort_by=date_added&order=desc&noted_1_1=1">Показать весь список</a></p>
{% endif %}

<hr>

{% endblock %}
