{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_styles.css' %}">
</head>
<body>
<div class="login-box">
    <h2>Вход в систему</h2>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Имя пользователя:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="username" name="username" required>
                <div class="input-group-append hint-button">
                    <button type="button" class="btn btn-secondary"><i class="fas fa-question-circle"></i></button>
                    <div class="hint-tooltip">Учетные данные для входа можно получить у администратора.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" id="showPassword">Показывать пароль</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="action" value="login">
        <button type="submit" class="btn btn-primary">Вход</button>
    </form>
</div>

<script src="{% static 'scripts/login_scripts.js' %}"></script>

</body>
</html>
