<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">

    <link rel="stylesheet" href="/assets/css/fontstyle.css">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <title>Diplom</title>
</head>
<body>

    <div class="wrapper">
        <header>
            <div class="header">
                <h2>Дипломная работа<h2>
            </div>
        </header>

        <main class="main">

        </main>

        <footer>
            <div class="footer">
                <div class="footer-box">
                    <div>
                        <a href="https://github.com/ElGansoDorado">ElGansoDorado</a>
                        <a href="https://github.com/ElXoce">ElXoce</a>
                        <a href="https://github.com/SergeyGalanin">SergeyGalanin</a>
                    </div>
                    <div>
                        <p>Front</p>
                        <p>Back</p>
                        <p>Back</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>