{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ client.first_name }} {{ client.last_name }} Details</title>
</head>
<body>
<h2>Client Details</h2>

<p>Name: {{ client.first_name }} {{ client.last_name }} {{ client.patronymic }}</p>
<p>Age: {{ client.age }}</p>
<p>Body Mass Index: {{ client.body_mass_index }}</p>
<p>SPO2: {{ client.SPO2 }}</p>
<p>Admission Date: {{ client.admission_date }}</p>
<p>Result: {{ client.result }}</p>

<main>

    <h2>Действия</h2>

    <button id="delete" type="button" onclick="confirmDelete()">Удалить пациента</button>

    <form id="client_delete" method="post" action="{% url 'client_detail' token=client.token %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete_client">
        <div id="confirmDeletionDiv" style="display: none;">
            <p>Вы уверены, что хотите удалить? {{ client.first_name }} {{ client.last_name }}?</p>
            <button type="submit">Да, удалить</button>
            <button type="button" onclick="cancelDelete()">Нет</button>
        </div>
    </form>

    <a href="{% url 'client_list' %}">Back to Client List</a>

    <br><br><br><br><br><br><br><br><br><br><br><br>

    <button id="client_edit" type="button" onclick="toggleForm()">Редакатировать запись</button>
    <form id="editForm" method="post" action="{% url 'client_detail' token=client.token %}" style="display: none;">
        {% csrf_token %}
        <input type="hidden" name="action" value="edit_client">
        {{ form.as_table }}
        <button type="submit">Cохранить</button>
        <button type="button" onclick="cancelEdit()">Отменить</button>
    </form>
</main>

<script src="{% static 'scripts/clients_detail_scripts.js' %}"></script>

</body>
</html>
