{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/clients_list_styles.css' %}">
{% endblock %}
{% block title %}Home{% endblock %}
{% block header %}Список записей{% endblock %}

{% block content %}

<div class="box_tool">
    <div class="search_box">
        <input type="text" class="search" id="searchInput" placeholder="Поиск по ФИО">
        <button type="button" class="button" id="searchButton"><i class="fas fa-search"></i> Поиск</button>
        <button type="submit" class="button" id="resetSortingButton"><i class="fas fa-eraser"></i> Сброс сортировки
        </button>
    </div>

    <div class="">
        <button id="toggleFormBtn" class="button" onclick="toggleForm()"><i class="fas fa-plus"></i> Добавить пациента
        </button>
    </div>
</div>

<table>
    <caption></caption>
    <thead>
            <tr class="table">
                <th {% if sort_by == 'last_name' %} class="active"{% endif %}><a href="?sort=last_name&order={{ next_order }}">ФИО</a></th>
                <th {% if sort_by == 'age' %} class="active"{% endif %}><a href="?sort=age&order={{ next_order }}">Возраст</a></th>
                <th {% if sort_by == 'body_mass_index' %} class="active"{% endif %}><a href="?sort=body_mass_index&order={{ next_order }}">ИМТ</a></th>
                <th {% if sort_by == 'spo2' %} class="active"{% endif %}><a href="?sort=spo2&order={{ next_order }}">SPO2</a></th>
                <th {% if sort_by == 'admission_date' %} class="active"{% endif %}><a href="?sort=admission_date&order={{ next_order }}">Дата поступления</a></th>
                <th {% if sort_by == 'result' %} class="active"{% endif %}><a href="?sort=result&order={{ next_order }}">Результат</a></th>
                <th>Действия</th>
            </tr>
    </thead>
    <tbody>
    {% for client in clients %}
    <tr class="table">
        <td class="cell_name">
            <a href="{% url 'client_detail' id_token=client.id_token %}">{{ client }}</a>
        </td>
        <td class="cell_age">{{ client.age }}</td>
        <td class="cell_imt">{{ client.body_mass_index }}</td>
        <td class="cell_spo">{{ client.spo2 }}</td>
        <td class="cell_date">{{ client.admission_date }}</td>
        <td class="cell_res">{{ client.result }}</td>
        <td class="cell_button">
            <a href="{% url 'client_detail' id_token=client.id_token %}">
                <div class="button">
                    Delete
                </div>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<form id="addClientForm" method="post" action="{% url 'client_list' %}" style="display: none;"
      onsubmit="return validateClientForm()">
    <div class="button_box">
        <button type="submit" class="button">Сохранить</button>
        <button type="button" class="button" onclick="cancelAddClient()">Отменить</button>
    </div>
    <div>
        {% csrf_token %}
        {{ form.as_table }}
        <input type="hidden" name="action" value="save">
    </div>
</form>

<div class="pagination">
    <span class="step-links">
        <div class="page_next">
                    {% if clients.has_previous %}
            <a href="?page=1" class="button">&laquo; first</a>
        {% endif %}
            {% if clients.has_previous %}
                <a href="?page={{ clients.previous_page_number }}" class="button">&#8592;</a>
            {% endif %}

            <p>
                Page {{ clients.number }} of {{ clients.paginator.num_pages }}
            </p>

            {% if clients.has_next %}
                <a href="?page={{ clients.next_page_number }}" class="button">&#8594;</a>
            {% endif %}

            {% if clients.has_next %}
                <a href="?page={{ clients.paginator.num_pages }}" class="button">last &raquo;</a>
            {% endif %}
        </div>
    </span>
</div>


<script src="{% static 'scripts/clients_scripts.js' %}"></script>
<script>

    document.addEventListener('DOMContentLoaded', function () {
        const searchButton = document.getElementById('searchButton');

        searchButton.addEventListener('click', function () {
            const searchInput = document.getElementById('searchInput');
            const searchQuery = searchInput.value.trim();  // Trim to remove leading/trailing spaces

            if (searchQuery !== '') {
                const currentUrl = new URL(window.location.href);
                currentUrl.searchParams.set('search', searchQuery);
                window.location.href = currentUrl.toString();
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const resetSortingButton = document.getElementById('resetSortingButton');

        resetSortingButton.addEventListener('click', function () {
            const currentUrl = new URL(window.location.href);
            currentUrl.searchParams.delete('sort');  // Remove the 'sort' parameter
            window.location.href = currentUrl.toString();
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const resetSortingButton = document.getElementById('resetSortingButton');

        resetSortingButton.addEventListener('click', function () {
            const currentUrl = new URL(window.location.href);
            const searchParamIndex = currentUrl.href.indexOf('?search');

            if (searchParamIndex !== -1) {
                const baseUrl = currentUrl.href.substring(0, searchParamIndex);
                window.location.href = baseUrl;
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('searchInput');
        const searchButton = document.getElementById('searchButton');

        // Event listener to enlarge the input field when typing
        searchInput.addEventListener('input', function () {
            if (searchInput.value.trim() !== '') {
                searchInput.classList.add('enlarged');
            } else {
                searchInput.classList.remove('enlarged');
            }
        });

        // Event listener for the search button click
        searchButton.addEventListener('click', function () {
            // Perform the search functionality here
            alert('Searching for: ' + searchInput.value);
        });
    });

</script>

{% endblock %}