{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ client_data.first_name }} {{ client_data.last_name }} Details</title>
    <link rel="stylesheet" href="{% static 'css/clients_details_styles.css' %}">

</head>
<body>
<h1>Подробные данные</h1>

<div class="client-details-container">
    <h2>Client Details</h2>

    <table class="client-details-table">
        <caption>Client Details</caption>

        <thead>
        <tr>
            <th>Параметр</th>
            <th>Значение</th>
        </tr>
        </thead>
        <tr>
            <td>ФИО:</td>
            <td>{{ client_data.personal_info }}</td>
        </tr>
        <tr>
            <td>Возраст:</td>
            <td>{{ client_data.age }}</td>
        </tr>
        <tr>
            <td>Пол:</td>
            <td>
                {% if client_data.gender %}
                Мужской
                {% else %}
                Женский
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>ИМТ:</td>
            <td>{{ client_data.body_mass_index }}</td>
        </tr>
        <tr>
            <td>SPO2:</td>
            <td>{{ client_data.spo2 }}</td>
        </tr>
        <tr>
            <td>Дата поступления:</td>
            <td>{{ client_data.admission_date }}</td>
        </tr>
        <tr>
            <td>Результат:</td>
            <td>{{ client_data.result }}</td>
        </tr>
        <tr>
            <td>Прогноз результата:</td>
            <td>{% if result %}
                {{ result }}
                {% else %}
                Обрабатывается
                {% endif %}
            </td>
        </tr>
    </table>
</div>

<main>
    <a href="{% url 'client_list' %}">Назад к списку пациентов</a>

    <h2>Действия</h2>

    <button id="edit" type="button" onclick="showConfirmation()">Редактировать персональные данные</button>


    <form id="client_personal_edit" method="post" action="{% url 'client_detail' id=client_data.personal_info.id %}">
        {% csrf_token %}
        <input type="hidden" name="action" value="edit_client">
        <div id="confirmEditDiv" style="display: none;">
            {{ form_info.as_p }}
            <p>Вы уверены, что хотите редактировать персональные данные {{ client_data.personal_info }}?</p>
            <button type="submit" name="action" value="edit_client_info">Сохранить</button>
            <button type="button" onclick="cancelEdit()">Нет</button>
        </div>
    </form>


    <form method="post" action="{% url 'client_detail' id=client_data.personal_info.id %}">
        {% csrf_token %}
        <button type="submit" name="action" value="delete_client">Удалить пациента</button>
    </form>

    <button id="client_edit" type="button" onclick="toggleForm()">Редакатировать запись</button>
    <form method="post" action="{% url 'client_detail' id=client_data.personal_info.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action" value="edit_client">Сохранить</button>
    </form>

    <div class="container">
        <h1>{{ client_data.personal_info.first_name }} {{ client_data.personal_info.last_name }}</h1>

        <h2>Change History</h2>
        {% for version in history_entries %}
        <p>
            {{ version.history_date }} -
            {{ version.history_user.username }} made the following changes:
        <ul>
            <li class="change-item" data-spo2="{{ version.spo2 }}" data-result="{{ version.result }}">
                <span class="spo2">{{ version.spo2 }}</span> _ result:
                <span class="result">{{ version.result }}</span>
                <!-- Добавьте другие поля из истории, которые вам необходимы -->
            </li>
        </ul>
        </p>
        {% endfor %}
    </div>


</main>

<script src="{% static 'scripts/clients_detail_scripts.js' %}"></script>

</body>
</html>
