{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/clients_list_styles.css' %}">
{% endblock %}
{% block title %}Список клиентов{% endblock %}
{% block header %}Список записей{% endblock %}

{% block content %}

<div class="box_tool">
    <div class="search_box">
        <input type="text" class="search" id="searchInput" placeholder="Поиск по ФИО">
        <button type="button" class="button" id="searchButton"><i class="fas fa-search"></i> Поиск</button>
        <button id="resetButton"><i class="fas fa-undo"></i> Сброс сортировок и поиска </button>
    </div>

    <div class="">
        <button id="toggleFormBtn" class="button" onclick="toggleForm()"><i class="fas fa-plus"></i> Добавить пациента</button>
    </div>
</div>

<div class="stats-container">
    <button id="statsToggleBtn" class="button">Показать статистику</button>
    <div id="statsSpoiler" class="spoiler" style="display: none;">
        <!-- Здесь будет ваша статистика -->
        <input type="number" id="percentInput" placeholder="Введите процент">
        <button id="submitPercentBtn" class="button">Отправить процент</button>
    </div>
</div>

<div class="filters">
  <details>
    <summary>Фильтры</summary>
    <form method="get" class="filter-form">
      <!-- Фильтры по результату -->
      <div class="filter-group">
        <label><input type="checkbox" name="result_0"> В процессе</label>
        <label><input type="checkbox" name="result_1"> D</label>
        <label><input type="checkbox" name="result_2"> H</label>
        <label><input type="checkbox" name="result_3"> R</label>
      </div>
      <!-- Фильтры по группам -->
      <div class="filter-group">
        <label><input type="checkbox" name="group_1"> Группа 1</label>
        <label><input type="checkbox" name="group_2"> Группа 2</label>
        <label><input type="checkbox" name="group_3"> Группа 3</label>
      </div>
      <div class="filter-group">
        <label><input type="checkbox" name="noted_1"> Показать отслеживаемые записи</label>
        <label><input type="checkbox" name="noted_0"> Показать не отслеживаемые записи </label>
      </div>
      <button type="submit" class="btn-filter">Применить фильтры</button>
    </form>
  </details>
</div>

{% include 'client_table.html' %}

<form id="addClientForm" method="post" action="{% url 'clients:client_list' %}" style="display: none;"
      onsubmit="return validateClientForm()">
    <div class="button_box">
        <button type="submit" class="button">Сохранить</button>
        <button type="button" class="button" onclick="cancelAddClient()">Отменить</button>
    </div>
    <div>
        {% csrf_token %}
        {{ personal_info_form.as_table }}
    </div>
    <div>
        {{ client_data_form.as_table }}
        <input type="hidden" name="action" value="save">
    </div>
</form>

<!-- Модальное окно -->
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <div id="modal-body">
            <!-- Форма загружается сюда -->
        </div>
    </div>
</div>


<script src="{% static 'scripts/clients_scripts.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block domready %}
const url = '{% url "clients:client_stats" %}';
const page_url = '{% url "clients:client_list" %}';

{% include "clients/stats_ajax_scripts.js" %}
{% include "clients/modal_window_scripts.js" %}
{% include "clients/pagination_ajax_scripts.js" %}
{% include "clients/note_button.js" %}
{% endblock %}
