{% extends 'base.html' %}
{% load thumbnail %}


{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
        {% if post.preview %}
                 {% thumbnail post.preview "300x300" crop="smart" as im %}
                        <img src="{{ im.url }}" alt="preview" class="preview">
        {% endif %}
    {{ post.body|markdown }}

    <h2>Similar posts</h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
        {% empty %}
        There are no similar posts yet.
    {% endfor %}
{% endblock %}