{% extends 'base.html' %}
{% load thumbnail %}
{% load unicorn %}
{% load static %}

{% load blog_tags %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/post_detail_styles.css' %}">
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <main>
        <article>
            <h1>{{ post.title }}</h1>
            <p class="date">
                Published {{ post.publish }} by {{ post.author }}
            </p>
            {% if post.preview %}
                {% thumbnail post.preview "300x300" crop="smart" as im %}
                <img src="{{ im.url }}" alt="preview" class="preview">
            {% endif %}

            {% if post.short_description %}

                <h3>Краткое описание</h3>
                {{ post.short_description|markdown }}

            {% endif %}


            <hr>

            {{ post.body|markdown }}
        </article>

        <hr>
        {% unicorn 'comments' post_id=post.id %}

        <h2>Similar posts</h2>
        {% for post in similar_posts %}
            <p>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </p>
            {% empty %}
            There are no similar posts yet.
        {% endfor %}
    </main>

{% endblock %}
