{% extends 'base.html' %}
{% load blog_tags %}

{% block title %}My Blog{% endblock %}

{% block content %}
    <h1>My Blog</h1>
    Всего статей: {% total_posts %}.

    <p>
        <a id="copyButton" href="{% url 'blog:post_feed' %}">
            Подписка на RSS.
        </a>
    </p>

    {% if tag %}
        <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}

    <div id="posts-list">


        {% include "blog/posts.html" with posts=posts %}

    </div>


    <script>
        document.getElementById('copyButton').addEventListener('click', function (event) {
            event.preventDefault(); // Отменяем стандартное действие перехода по ссылке
            var link = this.getAttribute('href'); // Получаем ссылку из атрибута href
            navigator.clipboard.writeText(link) // Копируем ссылку в буфер обмена
                .then(function () {
                    alert('Ссылка скопирована в буфер обмена');
                })
                .catch(function (error) {
                    console.error('Не удалось скопировать ссылку: ', error);
                });
        });
    </script>

{% endblock %}

{% block domready %}
var page = 1;
var emptyPage = false;
var blockRequest = false;
window.addEventListener('scroll', function(e) {
    var margin = document.body.clientHeight - window.innerHeight - 100;
    if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
        blockRequest = true;
        page += 1;
        fetch('?posts_only=1&page=' + page)
            .then(response => response.text())
            .then(html => {
                if (html === '') {
                    emptyPage = true;
                } else {
                    var postsList = document.getElementById('posts-list');
                    postsList.insertAdjacentHTML('beforeEnd', html);
                }
                blockRequest = false;
            });
    }
});
// Запустить события прокрутки
const scrollEvent = new Event('scroll');
window.dispatchEvent(scrollEvent);

{% endblock %}