Django
Jinja2
tox
urllib3
virtualenv
python-decouple
python-json-logger
requests
setuptools
coverage
whitenoise
djangorestframework
django-taggit
markdown
psycopg2
xlrd
Pillow
easy-thumbnails
django-ckeditor-5
django-unfold
django-crispy-forms
crispy-bootstrap4
django-unicorn
django-auditlog
django-health-check
django-utils-six
reportlab
uvicorn
psycopg2-binary